* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffefe7;
}

button {
  cursor: pointer;
}

nav {
  padding: 0 40px;
  height: 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav p {
  font-size: 30px;
  color: #7C6A0A;
}
nav .icons {
  display: flex;
  gap: 4px;
}
nav .icons button {
  background: none;
  border: none;
}

main {
  padding: 40px 40px;
}
main article.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  display: flex;
  justify-content: space-between;
}
main article.hero .info-section {
  width: 592px;
  color: #7C6A0A;
}
main article.hero .info-section h1 {
  margin-block: 20px;
  font-size: 60px;
  font-weight: 600;
}
main article.hero .info-section p {
  margin-block: 60px;
  font-size: 25px;
}
main article.hero .info-section button {
  background: none;
  border: none;
}
main article.hero .info-section button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 23px;
  font-weight: 700;
  color: white;
  background-color: #FA9500;
  border-radius: 35px;
}
main article.hero .image-section {
  width: 30%;
}
main article.hero .image-section img {
  width: 100%;
  border-radius: 10px;
}

section {
  margin-top: 120px;
}

section.catalogo {
  color: #7C6A0A;
}
section.catalogo h2 {
  margin-bottom: 100px;
  font-size: 50px;
  font-weight: 400;
}
section.catalogo .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
  gap: 80px;
}
section.catalogo .product-card, section.catalogo .furniture {
  width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: flex-end;
  background-color: #ffdac6;
  border-radius: 8px;
}
section.catalogo .product-card svg, section.catalogo .furniture svg {
  margin: 16px;
  cursor: pointer;
}
section.catalogo .product-card .product-image, section.catalogo .furniture .product-image {
  margin: 0 auto;
  width: 70%;
  height: 300px;
}
section.catalogo .product-card .product-image img, section.catalogo .furniture .product-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
section.catalogo .product-card h3, section.catalogo .furniture h3, section.catalogo .product-card p, section.catalogo .furniture p {
  margin: 0 auto;
  width: 75%;
}
section.catalogo .product-card h3, section.catalogo .furniture h3 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 600;
}
section.catalogo .product-card p, section.catalogo .furniture p {
  margin-bottom: 50px;
  font-size: 15px;
}
section.catalogo .product-card:hover, section.catalogo .furniture:hover {
  transition: 0.2s all;
  transform: scale(1.01);
  cursor: pointer;
}
section.catalogo .furniture-container {
  margin-top: 120px;
}
section.catalogo .furniture {
  color: white;
  background-color: #babd8d;
}

section.about-us {
  margin-block: 80px;
  color: #7C6A0A;
}
section.about-us .why-us {
  margin-bottom: 200px;
}
section.about-us .why-us h2 {
  margin-bottom: 100px;
  font-size: 50px;
  font-weight: 500;
}
section.about-us .why-us div {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.about-us .why-us div div {
  width: 535px;
  text-align: center;
  font-size: 30px;
}
section.about-us .why-us div .heart {
  gap: 20px;
}
section.about-us .gallery {
  margin-bottom: 120px;
}
section.about-us .gallery h2 {
  margin-bottom: 100px;
  font-size: 50px;
  font-weight: 500;
}
section.about-us .gallery .gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
section.about-us .gallery .gallery-container div {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  width: 360px;
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
}
section.about-us .gallery .gallery-container div:hover {
  transition: 0.2s all;
  transform: scale(1.01);
  cursor: pointer;
}
section.about-us .gallery .gallery-container img {
  width: 100%;
}
section.about-us .location h2 {
  margin-bottom: 100px;
  font-size: 50px;
  font-weight: 500;
}
section.about-us .location div {
  margin-bottom: 24px;
}
section.about-us .location p {
  font-size: 35px;
}
section.about-us .location p.coordenadas {
  font-size: 25px;
}
section.about-us .location img {
  width: 100%;
}

footer {
  padding: 40px;
  color: white;
  background-color: #FA9500;
}
footer h3 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}
footer p {
  margin-bottom: 8px;
  font-size: 20px;
}
footer .social {
  display: flex;
  justify-content: center;
  gap: 16px;
}
footer .social div {
  width: 42px;
  height: 42px;
  transform: translateY(16px);
}
footer .social div img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */