$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7C6A0A;
$alternative-color: #FA9500;
$font-stack: 'IBM Plex Sans', sans-serif;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    font-family: $font-stack;
    background-color: $primary-color;
}

button {
    cursor: pointer;
}

nav {
    padding: 0 40px;
    height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 30px;
        color: $primary-text-color;
    }
    .icons {
        display: flex;
        gap: 4px;
        button {
            border: none;
            background: none;
        }
    }
}

main {
    padding: 40px 40px;
    article.hero {
        display: flex;
        justify-content: space-between;
        .info-section {
            width: 592px;
            color: $primary-text-color;
            h1 {
                margin-block: 20px;
                font-size: 60px;
                font-weight: 600;
            }
            p {
                margin-block: 60px;
                font-size: 25px;
            }
            button {
                margin-top: 20px;
                padding: 12px 24px;
                font-size: 23px;
                font-weight: 700;
                color: white;
                background-color: $alternative-color;
                border: none;
                border-radius: 35px;
            }
        }
        .image-section {
            width: 30%;
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}

section.catalogo {
    color: $primary-text-color;
    h2 {
        margin-block: 70px;
        font-size: 50px;
        font-weight: 400;
    }
    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 80px;
    }
    .product-card {
        width: 324px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: $secundary-color;
        border-radius: 8px;
        svg {
            margin: 16px;
            cursor: pointer;
        }
        .product-image {
            margin: 0 auto;
            width: 75%;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 6px;
            }
        }
        h3, p {
            margin: 0 auto;
            width: 75%;
        }
        h3 {
            margin-top: 20px;
            font-size: 25px;
            font-weight: 600;
        }
        p {
            margin-bottom: 50px;
            font-size: 15px;
        }
    }
    .forniture {
        @extend .product-card;
        color: white;
        background-color: $tertiary-color;
    }
}

footer {
    height: 461px;
    background-color: $alternative-color;
}